/* ===================================================================
 * # background
 *
 * ------------------------------------------------------------------- */
body {
    background-origin: border-box;
    background-image: url("logo.png"), url("jiku2.png"), url("back.png");
    background-size:15%, 30%, 100%;
    background-position-x: 5%, center, center;
    background-position-y: 5%, center, center;
    background-repeat:no-repeat, no-repeat, no-repeat;
}

/* ===================================================================
 * # main
 *
 * ------------------------------------------------------------------- */
#result{
    width: 16%;
    height: 16%;
    margin-top: 26.8%;
}
#save{
    width: 5%;
    height: 5%;
    font-weight: bold;
    font-size: large;
    position: fixed;
    right: 25%;
    bottom: 5%;
}
label img {
    margin: 10px;
}
.img_class{
    display: flex;
    justify-content: center;
}