/* ===================================================================
 * # background
 *
 * ------------------------------------------------------------------- */
body {
    background-origin: border-box;
    background-image: url("logo.png"), url("washi.jpg");
    background-size:15%, cover;
    background-position-x: 5%, center;
    background-position-y: 5%, center;
    background-repeat:no-repeat, no-repeat;
}

/* ===================================================================
 * # main
 *
 * ------------------------------------------------------------------- */
.text{
    display:flex;
    align-items: center;
    justify-content: center;
    width:200px;
    height:60px;
    background: #000000;
    color: #eee;
    text-decoration: none;
}
.img_class{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 5%;
    top: 25%;
}
#cap{
    width: 25%;
    height: 25%;
}
#quit{
    width: 25%;
    height: 25%;
}