/* ===================================================================
 * # background
 *
 * ------------------------------------------------------------------- */
body {
    background-origin: border-box;
    background-image: url("x.png"), url("yellow.png"), url("yellow.png"), url("washi.jpg");
    background-size: 15%, 100%, 100%, 100%;
    background-position-x: center, center, center, center;
    background-position-y: center, top, bottom, center;
    background-repeat: no-repeat, no-repeat, no-repeat, repeat;
}

/* ===================================================================
 * # main
 *
 * ------------------------------------------------------------------- */
#uki{
    width: 14%;
    height: 14%;
    margin-right: 10%;
}
#hito{
    width: 15%;
    height: 15%;
    margin-left: 10%;
}
.img_class{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ===================================================================
 * # animation
 *
 * ------------------------------------------------------------------- */
.loop0 {
    margin-bottom: 5%;
    display: flex;
    overflow: hidden;
}
.loop1 {
    margin-top: 5%;
    display: flex;
    overflow: hidden;
}
.loop_box {
    display: flex;
    animation: loop-list 30s linear infinite;
}
.loop_item a {
    width: calc(100vw / 10);
    display: block;
}
.loop_item img {
    width: 90%;
}

ul{
    padding-left:0;
}
  
li{
    list-style:none;
}

@keyframes loop-list {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
.loop:hover .loop_box {
    animation-play-state: paused;
}